@{
    ViewData["Title"] = "Home Page";
}
@model Transaction


<style>
    h1{
        text-align: center;
        font-size: 80px;
    }
</style>
<div class="jumbotron">
    <a href="/logout">Logout</a>
    <h1 class="text-success">Welcome, @ViewBag.User.FirstName @ViewBag.User.LastName</h1>
    <form asp-action="create" asp-controller="Home" method="post" class="form-group">
        <h3>New Transaction:</h3>

        <span class="text-danger" asp-validation-for="Amount"></span></br>
        <label asp-for="Amount"></label>
        <input class="form-control" asp-for="Amount" type="number" step=".01">

    
        <input class="btn btn-primary btn-lg active" type="submit" aria-pressed="true" value="Deposit/Withdrawal">
    </form>
</div>
<h3> Account Balance: @string.Format("{0:C}", @ViewBag.User.Balance)</h3>
    <table class="table-striped table">
      <thead>
          <tr>
              <th scope="col">Amount</th>
              <th scope="col">Date</th>
          </tr>
      </thead>
      <tbody>
        @foreach (var t in ViewBag.Transactions)
        {          
          <tr>
            <td>@string.Format("{0:C}", t.Amount)</td>
            <td>@t.CreatedAt</td>
          </tr>
        }
    </tbody>
</table>
</div>



